/* Colour Definitions */

$color-bg: #ffffff;
$color-fg: #000000;
$color-primary: #00205b;
$color-secondary: #005587;
$color-tone: #b7c9d3;
$color-accent: #a51890;
$color-danger: #e4002b;
$color-warning: #fe5000;
$color-info: #e1e000;
$color-success: #84bd00;
